#override-boot-css .room {
  padding: 15px;
  margin: 8px;
}

.blog-container {
  border-bottom: 1px solid gray;
  padding: 10px;
}

.blog-container a {
  color: orange;
}

.header-title {
  background-color: orange;
  display: inline-block;
  padding: 20px;
  text-align: center;
}

.header-title a {
  color: white;
  font-family: 'Lobster';
}

.header-title a:hover {
  cursor: pointer;
  text-decoration: none;
}

.left-header {
  background-color: orange;
  margin: 0;
}

.right-header {
  background-color: black;
  margin: 0;
}

.right-header a {
  color: orange;
  font-family: Arial;
  font-size: 12pt;
}
